<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Teatros" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=reemplazame\ContactCenter.accdb; Jet OLEDB:Database Password=krieger;OLE DB Services=-1" providerName="System.Data.OleDb" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="mailAccount" value="kriegerdev@gmail.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="mailPassword" value="Kriegerdev.123"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtp" value="smtp.gmail.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="mailDisplayName" value="Reservas Teatro" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="port" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="sslEnabled" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ServerAccess" value="localhost"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sourceFilePath" value="reemplazame\ContactCenter.accdb"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="destinationFilePath" value="C:\BackupTeatro"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>